button {
  // outline: none;
  // border: 0;
  cursor: pointer;
}

.c-button {
  button {
    padding: 12px 24px;
    border-radius: 4px;
  }
  &-success {
    button {
      background: rgb(0, 255, 179);
    }
  }
}
