@fontSize: 14px;

button {
  // outline: none;
  // border: 0;
  cursor: pointer;
}

.c-button {
  button {  
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    text-decoration: none;
    margin: 0;
    text-align: center;
    box-sizing: border-box;
    border-radius: 4px;
    user-select: none;
    flex-wrap: nowrap;
    border: none;
    transition: 0.2s all;
    cursor: pointer;
    font-size: @fontSize;
    outline: none;
    font-weight: 400;
    &:hover {
      opacity: 0.8;
    }
    &:active {
      opacity: 1;
    }
  }
  &-default {
    background-color:#fff;
    color: #000;
    border: 1px solid #d9d9d9 !important;
    &:hover {
      border-color: #646cff !important;
    }
  }
  &-primary {
    background-color:#53A275;
    color: #fff;
  }
  &-success {
    background-color:#2C6E49;
    color: #fff;
  }
  &-info {
    background-color:#3F88C5;
    color: #fff;
  }
  &-warning {
    background-color:#FFA85C;
    color: #fff;
  }
  &-danger {
    background-color:#E94F37;
    color: #fff;
  }
  &-text {
    background: none;
    color: #0e80eb;
  }
  &-dashed {
    background-color:#fff;
    color: #000;
    border: 1px dashed #d9d9d9 !important;
    &:hover {
      border-color: #646cff !important;
    }
  }
  &-round {
    border-radius: 22px !important;
  }
}
